[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
ipython = "*"
flake8 = "*"
autopep8 = "*"

[packages]
requests = "*"
peewee = "*"
flask = "*"

[requires]
python_version = "3.7"
