.body {
    padding-top: 72px;
}

.main-wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

.nav-name {
    margin-left: 1rem;
}

.ui.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.ui.footer a {
    color: rgba(255, 255, 255, .9);
}

.masthead.segment {
    min-height: 280px;
}

.ui.inverted.segment.masthead {
    background: #227dc5;
}

.masthead h1.ui.header {
    margin-top: 1em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2.ui.header {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.segment.status-item {
    padding: 1em 10em;
}

.ui.vertical.segment.status-item:hover {
    background-color: rgba(248, 248, 255, .9)
}

.status-info {
    margin-top: 1em;
}

.entry-info {
    text-align: right;
}
.entry-popover:hover {
    cursor: pointer;
}

.entry-stat {
    margin-left: 4em;
}

.status-comment {
    max-height: 400px;
    overflow-y: auto;
}

.ui.cards.album-list,
.ui.cards.photo-list {
    margin: -0.875em -3.25em;
}

.album-cover,
.photo-snapshot {
    width: 100%;
    height: 100%;
}

.ui.feed.gossip-list {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.ui.feed.gossip-list > .event {
    padding: .5em 0;
}

.ui.feed.gossip-list > .event,
.ui.feed.blog-list > .event,
.ui.feed.item-comment > .event {
    border-bottom: 1px solid #f2f2f2;
}
.ui.feed.gossip-list > .event:last-child,
.ui.feed.blog-list > .event:last-child,
.ui.feed.item-comment > .event:last-child {
    border-bottom: none;
}

.gossip-with-gift {
    position: relative;
    min-height: 70px;
}

.ui.feed > .event > .content .summary img.mobile-tag,
.ui.feed > .event > .content .summary img.whisper-tag {
    height: 15px;
    margin-right: 0;
    margin-left: 0.25em;
}

.ui.feed > .event > .content .summary img.mobile-tag {
    height: 12px;
}

img.gossip-gift {
    position: absolute;
    right: 0;
    top: 3px;
    width: 64px;
    height: 64px;
}


.ui.feed.blog-list {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.ui.feed.blog-list > .event {
    padding: .5em 0;
}

.ui.feed.blog-list > .event > .content .extra.text {
    max-width: 960px;
}

.ui.feed.blog-list > .event > .content .meta {
    width: 100%;
}

.list-pagination {
    text-align: right;
}
