{% extends "layout.html" %}

{% block content %}
<div class="ui cards album-list">
    {% for a in album_list %}
        <div id="album-{{ a.id }}" class="card">
            <div class="content">
                <div class="right floated meta">{{ a.count }}</div>
                <a class="header" href="{{ url_for('album_detail_entry', album_id=a.id) }}">{{ a.name }}</a>
                {% if a.desc %}
                <div class="meta">
                    {{ a.desc }}
                </div>
                {% endif %}
            </div>
            <div class="image">
                <!-- <img class="album-cover" src="{{ a.cover }}"> -->
                {{ a.cover }}
            </div>
            <div class="content">
                {{ a.like }} 赞 / {{ a.share }} 分享 / {{ a.comment }} 评论
            </div>
        </div>
    {% endfor %}
</div>

<div class="list-pagination">
    <div class="ui divider"></div>
    <div class="ui pagination menu">
        {% if page > 1 %}
        <a class="item" href="{{ url_for('album_list_page', page=1) }}">
            <i class="angle double left icon"></i>
        </a>
        {% endif %}
        {% for p in range(1, total_page+1) %}
            {% if -3 < p - page < 3 %}
            <a class="item{% if p == page %} active{% endif %}" href="{{ url_for('album_list_page', page=p) }}">{{ p }}</a>
            {% endif %}
        {% endfor %}
        {% if page < total_page %}
        <a class="item" href="{{ url_for('album_list_page', page=total_page) }}">
            <i class="angle double right icon"></i>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
