{% extends "layout.html" %}
{% from "utils.html" import pager %}

{% block content %}
<h2 class="ui dividing header">
    {{ album.name }}
    {% if album.desc %}
    <div class="sub header">{{ album.desc }}</div>
    {% endif %}
</h2>

<div class="ui cards photo-list">
    {% for p in photos %}
    <div id="photo-{{ p.id }}" class="card">
        <div class="content">
            <div class="header">{{ p.title|safe }}</div>
            <div class="meta">
                {{ p.t.strftime("%Y-%m-%d") }}
            </div>
        </div>
        <a class="image" href="{{ url_for('photo_detail_page', photo_id=p.id) }}">
            <img class="photo-snapshot" src="{{ p.src }}">
        </a>
        <div class="content entry-info entry-popover" onclick="showComments(event, {{ p.id }})">
            {{ p.like }} 赞 / {{ p.share }} 分享 / {{ p.comment }} 评论 / {{ p.view }} 浏览
        </div>
    </div>
    {% endfor %}
</div>

{{ pager('album_detail_page', page, total_page, album.id) }}

<div class="album-extra">
    <div class="ui divider"></div>
    <div class="album-likes">
        {% for l in likes %}
            {% if index0 %},{% endif %}
            <a href="http://www.renren.com/profile.do?id={{ l.uid }}" target="_blank">{{ users[l.uid].name }}</a>
        {% endfor %}
        {% if album.like > 8 %}等{% endif %}
        {{ album.like }} 人点赞 / {{ album.share }} 分享 / {{ album.comment }} 评论
    </div>
    <div class="ui divider"></div>
    <div class="ui feed album-comments">
        {% for c in comments %}
        <div class="event">
            <div class="label">
                <a href="http://www.renren.com/profile.do?id={{ c.authorId }}" target="_blank">
                    <img src="{{ users[c.authorId].headPic }}">
                </a>
            </div>
            <div class="content">
                <div class="summary">
                    <a href="http://www.renren.com/profile.do?id={{ c.authorId }}" target="_blank">{{ c.authorName }}</a>
                    <div class="date">
                        {{ c.t.strftime("%Y-%m-%d %H:%M") }}
                    </div>
                </div>
                <div class="extra text">
                    {{ c.content|safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
