{% extends "layout.html" %}
{% from "utils.html" import pager %}

{% block content %}
<div class="status-list">
    {% for s in status_list %}
    <div id="status-{{ s.id }}" class="ui vertical segment status-item">
        <div class="status-content">{{ s.content|safe }}</div>
        {% if s.rootUid %}
        <div class="ui message status-quote">
            {{ s.rootUname }}: {{ s.rootContent|safe }}
        </div>
        {% endif %}
        <div class="status-info entry-info entry-popover" onclick="showComments(event, {{ s.id }})">
            <span class="entry-time">{{ s.t.strftime("%Y-%m-%d %H:%M:%S") }}</span>
            <span class="entry-stat">
                {{ s.like }} 赞 / {{ s.repeat }} 分享 / {{ s.comment }} 评论
            </span>
        </div>
    </div>
    {% endfor %}
</div>

{{ pager('status_list_page', page, total_page) }}

{% endblock %}
