{% extends "layout.html" %}

{% block content %}
<div class="status-list">
    {% for s in status_list %}
    <div id="status-{{ s.id }}" class="ui vertical segment status-item">
        <div class="status-content">{{ s.content|safe }}</div>
        {% if s.rootUid %}
        <div class="ui message status-quote">
            {{ s.rootUname }}: {{ s.rootContent|safe }}
        </div>
        {% endif %}
        <div class="status-info entry-info" onclick="showComments(event, {{ s.id }})">
            <span class="status-time">{{ s.t.strftime("%Y-%m-%d %H:%M:%S") }}</span>
            <span class="status-stat">
                {{ s.like }} 赞 / {{ s.repeat }} 分享 / {{ s.comment }} 评论
            </span>
        </div>
    </div>
    {% endfor %}
</div>

<div class="list-pagination">
    <div class="ui divider"></div>
    <div class="ui pagination menu">
        {% if page > 1 %}
        <a class="item" href="{{ url_for('status_list_page', page=1) }}">
            <i class="angle double left icon"></i>
        </a>
        {% endif %}
        {% for p in range(1, total_page+1) %}
            {% if -3 < p - page < 3 %}
            <a class="item{% if p == page %} active{% endif %}" href="{{ url_for('status_list_page', page=p) }}">{{ p }}</a>
            {% endif %}
        {% endfor %}
        {% if page < total_page %}
        <a class="item" href="{{ url_for('status_list_page', page=total_page) }}">
            <i class="angle double right icon"></i>
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}
