on:
  push:

jobs:
  build:
    runs-on: 'windows-latest'

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - run: pip install -r requirements.txt pyinstaller pywin32
    - run: python manage.py release
    - uses: actions/upload-artifact@v2
      with:
        path: dist/*